.timeline-background {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 227px;
    background: #F0F0F0;
    border: 1px solid #E6E9ED;
    border-bottom: 0;
    padding: 45px 0 0 45px;
}
    .timeline-background .avatar-view {
        height: 100%;
        width: 95%;
        margin-bottom: -50px;
        border: 8px solid #fff;
    }
    .timeline-background .col-md-9, .timeline-background .col-sm-9 {
        position: relative;
        height: 165px;
    }
    .timeline-details {
        position: absolute;
        bottom: 0;
        left: 0;
    }
.profile-below-content {
    padding: 0 18px;
}

ul.user_data li .user-profile-icon {
    text-align: center;
    width: 15px;
    margin-right: 5px;
}

ul.bar_tabs {
    background: transparent;
    padding-left: 0;
}
    ul.bar_tabs > li {
        border-radius: 0;
    }
    ul.bar_tabs > li.active {
        border-bottom: 0;
    }


.push-right-col {
    height: 55px;
}

#form-edit-profile .form-group .form-text-static {
    font-size: 15px;
    display: block;
    height: 27px;
    padding: 6px 0;
}
/*#edit-profile .form-group .form-edit-btn {
    margin-top: 8px;
}
#edit-profile .form-group .form-done-btn {
    margin-top: 4px;
}*/
@media (min-width: 768px){
    #form-edit-profile .control-label {
        text-align: left;
    }
}

.btn-success {border-color: #26B99A;}