.panel-auth {
    background: rgba(0,0,0,0.5);
    color: #ddd;
    margin-top: 20%;
}
    .panel-auth .form-control {
        text-shadow: none;
        background:transparent;
        color:rgba(255,255,255,.5);
        border: 1px solid rgba(255,255,255,.5);
    }
    .panel-auth .has-feedback .form-control {
        padding-left: 40px;
    }
    .panel-auth .has-feedback .form-control-feedback{
        top: 0;
        left: 1px;
        height: 23px;
        border-right: 1px solid rgba(255,255,255,.5);
        color: rgba(255,255,255,.5);
        margin-top: 6px;
        color: #bbb;
        line-height: 24px;
        font-size: 15px;
    }
    .panel-auth .form-group .with-error {
        top: -2.5em;
        opacity: 1;
    }
    .panel-auth .page-header-auth h1 {
        margin-top: 0;
        color: #ffffff;
    }

.page-header-auth {
    border-bottom: 0;
    text-align: center;
}
    .page-header-auth h1 {
        margin-top: 0;
    }



.hr-auth {
    border-top: 1px solid #615E5E;
}

a {
    color: #FF9B22;
}
    a:hover {
        color: #d76a1a;
        text-decoration: none;
    }

.form-control, .input-group-addon {
    border-radius: 1px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.form-control:focus, .uneditable-input:focus {
    border-color: rgba(255, 173, 0, 0.80);
    box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset, 0 0 8px rgba(229, 103, 23, 0.6);
    outline: 0 none;
}

/* Fixed image background */
img.bg {
    /* Set rules to fill background */
    min-height: 100%;
    min-width: 1024px;

    /* Set up proportionate scaling */
    width: 100%;
    height: auto;

    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
    img.bg {
        left: 50%;
        margin-left: -512px;   /* 50% */
    }
}

.push-5 {
    height: 5px;
}