.form-group {
    position: relative;
}
.form-group .error-handler {
    position: absolute;
    top: 2em;
    right: 0;
    opacity: 0;
    padding: 5px;
    border-radius: 1px;
    z-index: 2;
    -webkit-transition: top .3s ease,opacity .3s ease;
    -moz-transition: top .3s ease,opacity .3s ease;
    -ms-transition: top .3s ease,opacity .3s ease;
    transition: top .3s ease,opacity .3s ease;
}
.form-group .error-handler.with-error {
    top: -1px;
    opacity: 1;
}
.form-group .error-handler:after {
    top: 100%;
    right: 10%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    /*border-color: rgba(136, 183, 213, 0);*/
    border-top-color: #e74c3c;
    border-width: 5px;
    margin-left: -5px;
}

.bg-primary {
    color: #fff;
    background-color: #2c3e50;
}
a.bg-primary:hover {
    background-color: #1a242f;
}
.bg-success {
    background-color: #18bc9c;
}
a.bg-success:hover {
    background-color: #128f76;
}
.bg-info {
    background-color: #3498db;
}
a.bg-info:hover {
    background-color: #217dbb;
}
.bg-warning {
    background-color: #f39c12;
}
a.bg-warning:hover {
    background-color: #c87f0a;
}
.bg-danger {
    background-color: #e74c3c;
}
a.bg-danger:hover {
    background-color: #d62c1a;
}
.bg-light {
    background: #f8f8f8;
}

.alert {
    border-radius: 1px;
}
.alert-success {
    background-color: #18bc9c;
    border-color: #18bc9c;
    color: #ffffff;
}
.alert-success hr {
    border-top-color: #15a589;
}
.alert-success .alert-link {
    color: #e6e6e6;
}
.alert-info {
    background-color: #3498db;
    border-color: #3498db;
    color: #ffffff;
}
.alert-info hr {
    border-top-color: #258cd1;
}
.alert-info .alert-link {
    color: #e6e6e6;
}
.alert-warning {
    background-color: #f39c12;
    border-color: #f39c12;
    color: #ffffff;
}
.alert-warning hr {
    border-top-color: #e08e0b;
}
.alert-warning .alert-link {
    color: #e6e6e6;
}
.alert-danger {
    background-color: #e74c3c;
    border-color: #e74c3c;
    color: #ffffff;
}
.alert-danger hr {
    border-top-color: #e43725;
}
.alert-danger .alert-link {
    color: #e6e6e6;
}

hr.hr-sm {
    margin-top: 10px;
    margin-bottom: 10px;
}

.push-xs {
    height: 5px;
}
.push-sm {
    height: 10px;
}
.push-md {
    height: 20px;
}
.push-lg {
    height: 30px;
}

.text-center {
    text-align: center;
}

.vehicle {
    position: relative;
    height: auto;
}
    .vehicle .vehicle-owner {
        position: absolute;
        top: -15px;
        right: -15px;
        z-index: 5;
    }
    .vehicle .vehicle-owner img {
        width: 25%;
        float: right;
        -webkit-box-shadow: 0 8px 6px -6px black;
        -moz-box-shadow: 0 8px 6px -6px black;
        box-shadow: 0 8px 6px -6px black;
    }
    .vehicle .vehicle-owner .pop-content {
        display: none;
    }
    .vehicle .vehicle-owner .popover {
        width: 200px !important;
    }
    .vehicle .vehicle-name {
        position: absolute;
        bottom: 5px;
        left: 5px;
        right: 5px;
        margin: auto;
        color: #fff;
        background-color: rgba(0,0,0,0.6);
        text-align: center;
    }

.product_price {
    margin: 20px 0;
    padding: 5px 10px;
    background-color: #FFFFFF;
    text-align: left;
    border: 2px dashed #E0E0E0;
}
.price {
    font-size: 40px;
    font-weight: 400;
    color: #FF9B22;
    margin: 0;
}
.product-image img {
    width: 100%;
}
.tab-content {
    /*margin-top: -15px;*/
    padding: 10px;
    border: 1px solid #E6E9ED;
    border-top: none;
}

/* *********  notifications  **************************** */
/* Pnotify by Hunter Perrin :: 2.0.1 */

.ui-pnotify {
    top: 25px;
    right: 25px;
    position: absolute;
    height: auto;
    /* Ensures notices are above everything */

    z-index: 9999;
}
/* Hides position: fixed from IE6 */

html > body > .ui-pnotify {
    position: fixed;
}

.ui-pnotify .ui-pnotify-shadow {
    -webkit-box-shadow: 0px 2px 10px rgba(50, 50, 50, 0.5);
    -moz-box-shadow: 0px 2px 10px rgba(50, 50, 50, 0.5);
    box-shadow: 0px 2px 10px rgba(50, 50, 50, 0.5);
}

.ui-pnotify-container {
    background-position: 0 0;
    padding: .8em;
    height: 100%;
    margin: 0;
}

.ui-pnotify-sharp {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.ui-pnotify-title {
    display: block;
    margin-bottom: .4em;
    margin-top: 0;
}

.ui-pnotify-text {
    display: block;
}

.ui-pnotify-icon,
.ui-pnotify-icon span {
    display: block;
    float: left;
    margin-right: .2em;
}
/* Alternate stack initial positioning. */

.ui-pnotify.stack-topleft,
.ui-pnotify.stack-bottomleft {
    left: 25px;
    right: auto;
}

.ui-pnotify.stack-bottomright,
.ui-pnotify.stack-bottomleft {
    bottom: 25px;
    top: auto;
}

.ui-pnotify-closer,
.ui-pnotify-sticker {
    float: right;
    margin-left: .2em;
}
/* /Pnotify by Hunter Perrin :: 2.0.1 */